@model List<TransporteModel>
@{
    ViewData["Title"] = "Lista de Transporte";
}
<div class="text-center w-100">


    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger  btn-close" arial-label="close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger  btn-close" arial-label="close"></button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-4 text-start">Transportes</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" role="button" asp-controller="Transporte" asp-action="Create">Adicionar Transporte</a>
    </div>
    <br />

    <table id="tabela" class="table w-100">
        <thead class="table-dark">

            <tr>
                <th class="text-center" scope="col">Funcionario</th>
                <th class="text-center" scope="col">Matricula do Transporte</th>
                <th class="text-center" scope="col">Tipo de Transporte</th>
                <th class="text-center" scope="col">Manutenção</th>
                <th class="text-center" scope="col">Data Inicial</th>
                <th class="text-center" scope="col">Data Devolução</th>
                <th class="text-center" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TransporteModel transporte in Model)
                {
                    <tr>
                        <input type="hidden" @transporte.Id />
                        <input type="hidden" @transporte.FuncionarioId />
                        <input type="hidden" @transporte.MatriculaTransporteId />
                        <input type="hidden" @transporte.TipoTransporteId />
                        <input type="hidden" @transporte.ManutencaoId />

                        <td class="text-center">@transporte.Funcionario.NomeFuncionario</td>
                        <td class="text-center">@transporte.MatriculaTransporte.Matricula</td>
                        <td class="text-center">@transporte.TipoDeTransporte.NomeTransporte</td>
                        <td class="text-center">@transporte.Manutencao.TipoManutencao</td>
                        <td class="text-center">@transporte.DataInicio.ToShortDateString() </td>
                        <td class="text-center">@transporte.DataFim.GetValueOrDefault().ToShortDateString()</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-warning btn-sm" asp-route-id="@transporte.Id" asp-controller="Transporte" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger btn-sm" asp-route-id="@transporte.Id" data-toggle="modal" data-target="#myModal_@transporte.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>

                    <div class="modal" id="myModal_@transporte.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Cabeçalho do Modal -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Excluir Transporte</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Corpo do Modal -->
                                <div class="modal-body">
                                    <p>Deseja realmente excluir o uso de transporte do @transporte.Funcionario.NomeFuncionario ?</p>
                                </div>

                                <!-- Rodapé do Modal -->
                                <div class="modal-footer">
                                    <!-- Botão de cancelar -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <!-- Botão de confirmar -->
                                    <a role="button" class="btn btn-danger" id="confirmDelete_@transporte.Id" asp-route-id="@transporte.Id" asp-controller="Transporte" asp-action="Delete">Confirma</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>

</div>

